---
layout: default
title: "Cuisine"
---

<section class="article container-fluid">
  <div class="row">
    {% for post in site.posts %}
      {% if post.categorie =="Cuisine" %}
      <div class="col-4 ">
        <a class="link" href="{{cuisine.url  | relative_url }}">
            <img class="img-article" src="{{ post.image | relative_url}}" />
            <h1>{{ post.sous-categorie }}</h1>
            <h2>{{ post.titre }}</h2>
            </a>
      </div>
        {% endif %}
    {% endfor %}
  </div>
</section>
