<div class="container-fluid">
  {% assign featured_posts = site.posts | where: "featured", true %}
  <div class="row">
    <div class="col-12">
      <div id="carouselExampleCaptions" class="carousel slide carrousel" data-ride="carousel">
        <div class="carousel-inner">
          {% for post in featured_posts %}
          {% if forloop.first %}
          <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
              {% endif %}
              <div class="couleur-opacity"></div>
              <img class="d-block w-100" src="{{ post.image | relative_url}}">
              <div class="carousel-caption d-none d-md-block texte-slider">
                <h5 class="categorie-slider text-white">{{ post.categorie }}</h5>
                <p class="titre-slider text-white">{{ post.titre }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
