<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1">
        <img class="logo" src="{{ "/assets/images/logo.png" | relative_url }}" />
    </div>
        <div class="col-11">
          <nav class="menu">

            <a href="/projet-3--regisyacoub/index.html">Acceuil</a>
            <a href="/projet-3--regisyacoub/life_hack.html">Life Hack</a>
            <a href="/projet-3--regisyacoub/animaux.html">Animaux</a>
            <a href="/projet-3--regisyacoub/cuisine.html">Cuisine</a>
            <div class="
            mini">
              <a class="mini" href="/projet-3--regisyacoub/contribute.html">Proposez un article!</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
</header>
