@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Comic Sans MS", "Comic Sans", cursive;
$secondColor: #f8ea1b;
$textcolor: #009fe3;

.container-fluid{
  padding: 0;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

header {
  z-index: 99999;
  background: $secondColor;
  height: 13.5vh;
  width: 105rem;
}

.logo{
  height: 10rem;
  margin: 1rem;
}

.menu a{
  text-decoration: none;
  color: $textcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-weight: 400;
  font-size: 1rem;
}

.menu{
  text-align: right;
  margin: 3rem 2.5rem 0rem 7rem;
}

.carrousel{
  height: 40vh;
}

.carrousel h5, .carrousel p{
  color: $textcolor!important;
}

.carousel-inner, .carousel-item{
  height: 100%;
}

.couleur-opacity{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $secondColor;
  opacity:0.55;
}

.categorie-slider{
  font-size: 6rem;
  font-weight: 800;
}

.titre-slider{
  font-size: 1.5rem;
  font-weight: 400;
}

.texte-slider{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article{
  padding: 5rem;
}

.img-article{
  width: 20rem;
  height: auto;
  margin-bottom: 1rem;

}

.content{
  width: 40rem;
  height: auto;

}

.marge{
  margin: 10rem;
}

.mini{
  margin-left: 10rem;
  background-color: white;
  padding: 0.5rem;
  font-weight: lighter;
  width: 13rem;
  height: auto;
}

footer {
  padding: inherit;
  text-align: center;
  background: $secondColor;
  color: $textcolor;
  background-size: auto;
  justify-content: center;
  border-radius: 1px;

  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
