@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

$backgroundColor: #FFF;
$bodyColor: #242424;
$bodyFont: 'IBM Plex Sans', sans-serif;
$secondColor: #007A87;
$textcolor: #242424;

.container-fluid {
  padding: 0;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

header {
  z-index: 99999;
  background: $secondColor;
  height: 15vh;
  width: auto;
}

.logo{
  height: 7rem;
  margin: 0.5rem;
  display: block;
}

.menu a{
  text-decoration: none;
  color: $textcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-weight: 400;
  font-size: 1rem;
}

.menu{
  text-align: right;
  margin: 3rem 9rem 0rem 35rem;
}

.carrousel{
  height: 40vh;
}

.carrousel h5, .carrousel p{
  color: $textcolor!important;
}

.carousel-inner, .carousel-item{
  height: 100%;
}

.couleur-opacity{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $secondColor;
  opacity:0.55;
}

.categorie-slider{
  font-size: 6rem;
  font-weight: 800;
}

.titre-slider{
  font-size: 1.5rem;
  font-weight: 400;
}

.texte-slider{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article{
  padding: 5rem;
}

.img-article{
  width: 20rem;
  height: auto;
  margin-bottom: 1rem;

}

.content{
  width: 40rem;
  height: auto;

}

.marge{
  margin: 10rem;
}

.mini{
  background-color: white;
  padding: 0.5rem;
  font-weight: lighter;
  width: 13rem;
  height: auto;
  border-radius: 5px;
}

footer {
  padding: inherit;
  text-align: center;
  background: $secondColor;
  color: $textcolor;
  position: fixed;
  bottom: 0;
  background-size: auto;
  justify-content: center;
  border-radius: 1px;

  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a{
  color: $textcolor;
}

img{
  border-radius: 5px;
}
